/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Home Component */
.home {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Workout List */
.workouts {
  flex: 1;
  margin-right: 20px;
}

/* Workout Card */
.workout-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.workout-card h4 {
  margin: 0 0 10px 0;
}

.workout-card p {
  margin: 5px 0;
}

.workout-card .material-symbols-outlined {
  cursor: pointer;
  color: red;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
}

/* Workout Form */
.create {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
}

.create h3 {
  margin-bottom: 20px;
}

.create label {
  display: block;
  margin-bottom: 5px;
}

.create input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create input.error {
  border-color: red;
}

.create button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create button:hover {
  background-color: #4cae4c;
}

.create .error {
  color: red;
  margin-top: 10px;
}
/* Navbar */
/* Navbar */
header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
}

header h2 {
  margin: 0;
}

header h2 a {
  color: white;
  text-decoration: none; /* Remove underline */
  font-size: 24px;
}

header h2 a:hover {
  text-decoration: underline; /* Add underline on hover */
}
